<% extend('../partials/layout') %>

<%- include('../partials/menu.ejs') %>

<div class='details content'>
    <h2> <%= project.name %> </h2>

    <p> Employees</p>
    <% project.employees.forEach(employee => { %>
        <p><%= employee %></p>
    <% }) %>

    <div class='content'> 
        <!-- <p> <%= project.birthday %></p> -->
        <a class='delete' data-doc='<%= project._id %>'> Delete </a>
        <a href='/projects/update/<%= project._id %>'> Update </a>
    </div>

</div>

<script>
    const trashcan = document.querySelector('a.delete')

    trashcan.addEventListener('click', (e) => {
        const endpoint = `/projects/${trashcan.dataset.doc}`

        fetch(endpoint, {
            method: 'DELETE'
        }).then((response) => response.json())
        .then((data) => window.location.href = data.redirect)
        .catch(err => console.log(err))
    })
</script>
