<% extend('../partials/layout') %>

<%- include('../partials/menu.ejs') %>

<!-- CARD FOR PROJECT DETAILS -->
<div class="container" style="margin-left: 30%;">
    <br><br><br>
    <h1> Project Details </h1>
    <br>
    <div class="card" style="width: 50%;">
        <div class="card-body">
        <h4 class="card-title"><%= project.name %></h4>
        <h7> ID: <%= project._id %></h7>
        </div>
        <ul class="list-group list-group-flush">
            <% if(project.employees.length > 0) { %>
                <% 
                    project.employees.forEach(project_employee => { 
                        employees.forEach(employee => {
                            if(String(project_employee) == String(employee._id)) { %>
                                <li class="list-group-item"><a class='single' href='/employees/<%= employee._id %>'><%= employee.name %></a></li>
                            <% }
                        })
                    }) 
                %>
            <% } else { %>
                <i> <p align="center"> There are no employees assigned to this project. </p> </i>
            <% } %>
        
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteProjectModal"> Delete </button>
            <a type='button' class='btn btn-primary text-white' href='/projects/update/<%= project._id %>'> Update </a>
        </div>
    </div>
</div>
<!-- END OF CARD FOR PROJECT DETAILS-->

<!-- START OF CONFIRM DELETE MODAL -->
<div class="modal fade" id="deleteProjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete the project <u> <%= project.name %></u>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a type='button' class='delete btn btn-danger text-white' data-doc='<%= project._id %>'> Delete </a>
        </div>
      </div>
    </div>
  </div>
<!-- END OF CONFIRM DELETE MODAL -->

<script>
    const trashcan = document.querySelector('a.delete')

    trashcan.addEventListener('click', (e) => {
        const endpoint = `/projects/${trashcan.dataset.doc}`

        fetch(endpoint, {
            method: 'DELETE'
        }).then((response) => response.json())
        .then((data) => window.location.href = data.redirect)
        .catch(err => console.log(err))
    })
</script>

<!-- <div class='details content'>
    <h2> <%= project.name %> </h2>

    <p> Employees</p>
    <% project.employees.forEach(employee => { %>
        <p><%= employee %></p>
    <% }) %>

    <div class='content'> 

        
    </div>

</div> -->
