<% extend('../partials/layout') %>

<%- include('../partials/menu.ejs') %>

<div class="container">
    <br><br>
    <h1> Project Database </h1>
    <br>

    <!-- START OF CARD DECK FOR PROJECTS -->
    <div class="container">

    <% if(projects.length > 0) { %>
        <% var i = 0 %>
        <% var j = 0 %>
        <% projects.forEach(project => { %>
            <% if(i % 3 == 0) { %>
            <div class="card-deck">
            <% } %>
                <div class="card">
                    <div class="card-body">
                        <a class='single' href='/project/<%= project._id %>'> <b><%= project.name %> </b></a>
                        <p class="card-text">
                            <% if (project.employees.length > 0){ %>
                                <i> <p> Assigned employees: </p> </i>
                                <ul>
                                    <% j = 0 %>
                                    <% project.employees.forEach(project_employee => { %>
                                        <% employees.forEach(employee => { %>
                                            <% if(String(project_employee) == String(employee._id)) { %>
                                                <li><%= employee.name %></li>
                                            <% } %>
                                        <% }) %>
                                    <% }) %>
                                    <% i++ %>
                                </ul>
                                </p>
                            <% } else { %>
                                <i> <p> There are no employees assigned to this project. </p> </i>
                            <% } %>
                    </div>
                    <div class="card-footer">
                        <!-- class="text-muted" -->
                        <small class="highlight"><b>Total: <%= project.employees.length %></b></small>
                    </div>
                </div>
            <% if(i % 3 == 0) { %>
                </div>
                <br><br>
            <% } %>
        <% }) %>
    </div>

    <% } else {%>
        <i> <p> There are no projects. </p> </i>
    <% } %>
    <!-- END OF CARD DECK FOR PROJECTS -->
    </div>

<!-- <div class='projects'>
    <h2>All Projects</h2>

    <% if(projects.length > 0) { %>
        <% projects.forEach(project => { %>
            <a class='single' href='/projects/<%= project._id %>'> <h3 class='name'> <%= project.name %> </h3>  </a>
            <% 
                project.employees.forEach(project_employee => { 
                    employees.forEach(employee => { 
                        if(project_employee == employee._id) { %>
                            <p><%= employee.name %></p>
                        <% }
                    })
                }) 
             %>
        <% }) %>
    <% } else {%>
        <p>There are no projects</p>
    <% } %>
</div> -->