<% extend('../partials/layout') %>

<%- include('../partials/menu.ejs') %>

<!-- CARD FOR EMPLOYEE DETAILS -->
<div class="container" style="margin-left: 30%;">
    <br><br><br>
    <h1> Employee Details </h1>
    <br>
    <div class="card" style="width: 50%;">
        <div class="card-body">
        <h5 class="card-title"><b><%= employee.name %></b></h5>
        <p class="card-text">ID: <%= employee.id %></p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Birthday: </b><%= employee.birthday %></li>
        <li class="list-group-item"><b>Sex: </b><%= employee.sex %></li>
        <li class="list-group-item"><b>Address: </b><%= employee.address %></li>
        <li class="list-group-item"><b>Projects: </b>
            <%
                var i = 0
                employee.projects.forEach(employee_project => {
                    projects.forEach(project => {
                        if(employee_project == project._id) { %>
                            <a class='single' href='/projects/<%= project._id %>'> <%= project.name %> </a> 
                        <% 
                            if(i < employee.projects.length - 1) { %>
                                ,
                            <% 
                            }
                        i++
                        } %>    
                    <% })
                }) 
            %>
        </li>
        <li class="list-group-item"><b>Date Hired: </b><%= employee.dateHired %></li>
        </ul>
        <div class="card-body">
            <a type='button' class='delete btn btn-danger text-white' data-doc='<%= employee._id %>'> Delete </a>
            <a type='button' class='btn btn-primary text-white' href='/employees/update/<%= employee._id %>'> Update </a>
        </div>
    </div>
</div>
<!-- END OF CARD FOR EMPLOYEE DETAILS-->

<script>
    const trashcan = document.querySelector('a.delete')

    trashcan.addEventListener('click', (e) => {
        const endpoint = `/employees/${trashcan.dataset.doc}`

        fetch(endpoint, {
            method: 'DELETE'
        }).then((response) => response.json())
        .then((data) => window.location.href = data.redirect)
        .catch(err => console.log(err))
    })
</script>