<html>
    <head>
        <title> API app</title>
    </head>
    <body>
        <nav>
            <div class='site-title'>
                <a href='/'> <h1> Employee Management System </h1> </a>
                <p> A sample website </p>
            </div>
            <ul>
                <li> <a href='/'> Employees </a> </li>
                <li> <a href='/employee/create'> Create Employee </a> </li>
            </ul>
        </nav>

        <div class='details content'>
            <h2> <%= employee.name %> </h2>
            <div class='content'> 
                <p> <%= employee.birthday %></p>
                <p> <%= employee.sex %></p>
                <p> <%= employee.address %></p>
                <p> <%= employee.dateHired %></p>
                <a class='delete' data-doc='<%= employee._id %>'> Delete </a>
            </div>

        </div>

    </body>

    <script>
        const trashcan = document.querySelector('a.delete')

        trashcan.addEventListener('click', (e) => {
            const endpoint = `/employee/${trashcan.dataset.doc}`

            fetch(endpoint, {
                method: 'DELETE'
            }).then((response) => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err))
        })
    </script>

</html>